image:
  tag: latest
service:
  type: LoadBalancer
  annotations:
    metallb.universe.tf/address-pool: pihole-pool
    metallb.universe.tf/loadBalancerIPs: "{{ .Values.network.services.homebridge.ip }}"
persistence:
  enabled: true
  storageClass: longhorn
  accessMode: ReadWriteOnce
  size: 1Gi
