resources:
  - apiVersion: metallb.io/v1beta1
    kind: IPAddressPool
    metadata:
      name: pihole-pool
      namespace: metallb-system
    spec:
      addresses:
      - "{{ .Values.network.services.pihole.primary_ip }}/32"
      - "{{ .Values.network.services.pihole.backup_ip }}/32"
      - "{{ .Values.network.services.pihole.web_ip }}/32"
      - "{{ .Values.network.services.homebridge.ip }}/32"
      - "{{ .Values.network.services.cups.ip }}/32"
      autoAssign: false

  - apiVersion: metallb.io/v1beta1
    kind: IPAddressPool
    metadata:
      name: traefik-pool
      namespace: metallb-system
    spec:
      addresses:
      - "{{ .Values.network.services.traefik.ip }}/32"
      autoAssign: false

  - apiVersion: metallb.io/v1beta1
    kind: IPAddressPool
    metadata:
      name: default-pool
      namespace: metallb-system
    spec:
      addresses:
      - {{ .Values.network.metallb.range }}
      autoAssign: true

  - apiVersion: metallb.io/v1beta1
    kind: L2Advertisement
    metadata:
      name: l2-global
      namespace: metallb-system
    spec:
      ipAddressPools:
      - pihole-pool
      - traefik-pool
      - default-pool
      interfaces:
      - eth0
