replicaCount: 1

serviceDns:
  type: LoadBalancer
  loadBalancerIP: {{ .Values.network.services.pihole.ip }}
  externalTrafficPolicy: Local
  annotations:
    metallb.universe.tf/allow-shared-ip: "pihole-svc"

serviceTCP:
  enabled: true
  type: LoadBalancer
  loadBalancerIP: {{ .Values.network.services.pihole.ip }}
  externalTrafficPolicy: Local
  annotations:
    metallb.universe.tf/allow-shared-ip: "pihole-svc"

serviceUDP:
  enabled: true
  type: LoadBalancer
  loadBalancerIP: {{ .Values.network.services.pihole.ip }}
  externalTrafficPolicy: Local
  annotations:
    metallb.universe.tf/allow-shared-ip: "pihole-svc"

serviceWeb:
  type: LoadBalancer
  loadBalancerIP: {{ .Values.network.services.pihole.ip }}
  externalTrafficPolicy: Local
  annotations:
    metallb.universe.tf/allow-shared-ip: "pihole-svc"

serviceDhcp:
  enabled: false

persistentVolumeClaim:
  enabled: true
  storageClass: longhorn
  accessModes:
    - ReadWriteMany
  size: 2Gi

pihole:
  dns:
    upstreams:
      - unbound-main.pihole.svc.cluster.local#5335

probes:
  liveness:
    initialDelaySeconds: 120
    timeoutSeconds: 5
    failureThreshold: 10
  readiness:
    initialDelaySeconds: 60
    timeoutSeconds: 5
    failureThreshold: 5
