replicaCount: 2

serviceTCP:
  type: ClusterIP
  port: 53

serviceUDP:
  type: ClusterIP
  port: 53

serviceWeb:
  type: ClusterIP
  sessionAffinity: ClientIP
  sessionAffinityConfig:
    clientIP:
      timeoutSeconds: 10800

persistentVolumeClaim:
  enabled: true
  storageClass: longhorn
  accessModes:
    - ReadWriteMany
  size: 2Gi

pihole:
  dns:
    upstreams:
      - unbound-main.pihole.svc.cluster.local#5335
probes:
  liveness:
    initialDelaySeconds: 120
    timeoutSeconds: 5
    failureThreshold: 10
  readiness:
    initialDelaySeconds: 60
    timeoutSeconds: 5
    failureThreshold: 5

extraContainers: []
