replicaCount: 1

serviceDhcp:
  enabled: false

persistentVolumeClaim:
  enabled: true
  storageClass: longhorn
  accessModes:
    - ReadWriteMany
  size: 2Gi

pihole:
  dns1: "unbound-main.pihole.svc.cluster.local"
  dns2: "no"
  dnsmasq:
    upstreamServers:
      - "server=unbound-main.pihole.svc.cluster.local#5335"

serviceDns:
  type: LoadBalancer
  loadBalancerIP: "{{ .Values.network.services.pihole.primary_ip }}"
  externalTrafficPolicy: Local
  annotations:
    metallb.universe.tf/allow-shared-ip: "pihole-key"
  port: 53
  targetPort: 53 

serviceWeb:
  type: LoadBalancer
  loadBalancerIP: "{{ .Values.network.services.pihole.primary_ip }}" 
  externalTrafficPolicy: Local
  annotations:
    metallb.universe.tf/allow-shared-ip: "pihole-key"
  http:
    enabled: true
    port: 80
  https:
    enabled: true
    port: 443

probes:
  liveness:
    initialDelaySeconds: 120
    timeoutSeconds: 5
    failureThreshold: 10
  readiness:
    initialDelaySeconds: 60
    timeoutSeconds: 5
    failureThreshold: 5
