# DEBUG DIAGNOSTIC
debug_keys_found: {{ keys .Values | toString }}

oauth:
  enabled: false
hostname: "rpi-cluster"

preauthKey: {{ ((.Values | get "tailscale" dict) | get "authKey") | default .Values.authKey | default "ERROR_DEBUG_MODE" }}
