apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: cups-admin-ui
  namespace: printing
spec:
  entryPoints:
    - web
    - websecure
  routes:
    - match: Host(`cups.{{ index .Values "network" "domain" }}`)
      kind: Rule
      services:
        - name: cups
          port: 631

  tls: {}
