apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: homebridge-ui
  namespace: homebridge
spec:
  entryPoints:
    - web
    - websecure
  routes:
    - match: Host(`homebridge.{{ index .Values "network" "domain" }}`)
      kind: Rule
      services:
        - name: homebridge
          port: 8581

  tls: {}
