apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: pihole-ui
  namespace: pihole
  annotations:
    external-dns.alpha.kubernetes.io/target: "{{ .Values.network.services.traefik.ip }}"
spec:
  entryPoints:
    - web
    - websecure
  routes:
    - match: Host(`pihole.{{ .Values.network.domain }}`)
      kind: Rule
      services:
        - name: pihole-web
          port: 80
      middlewares:
        - name: pihole-headers
          namespace: pihole
  tls: {}
